.container1 {
    padding: 10px;
}
.container2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 10px;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Makes the list horizontal */
    background-color: #000000; /* Navbar background color */
    justify-content: center;
}
nav ul li {
    margin: 0;
    padding: 0;
}
nav ul li a {
    display: block;
    padding: 12px 20px;
    color: #FFFFFF;
    text-decoration: none;
    transition: background 0.3s;
}
nav ul li a:hover {
    background-color: #0D3950;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #114C6C;
    color: white;
    padding: 20px;
}
.column {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

ul {
    list-style-type: none;
    padding: 0px;
}
li {
    padding: 8px;
    border-bottom: 1px solid #0D3950;
}




